@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-color: v.$verde;

    .contenido-header {
        // padding: calc(v.$separacion / 2) 0;
        padding: 2rem;

        @include m.tablet {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    h1 {
        color: v.$blanco;
        text-align: center;

        @include m.tablet {
            margin-bottom: 0;
        }
    }
}

.navegacion-principal {
    @include m.tablet {
        display: flex;
        gap: 2rem;
        // justify-content: center;
    }

    a {
        display: block;
        text-align: center;
        color: v.$blanco;
        font-size: 2rem;
        margin-bottom: 1rem;

        @include m.tablet {
            margin: 0;
        }

        &:hover {
            color: v.$amarillo;
        }
    }
}